@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);












body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Oswald', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Oswald', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Oswald', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Oswald', sans-serif;
}
.mbr-author-desc {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Oswald', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #41a85f !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #41a85f !important;
}
.btn-primary {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #41a85f;
  border-color: #41a85f;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #2c7140;
  border-color: #2c7140;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #2c7140 !important;
  border-color: #2c7140 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #255e35;
  color: #255e35;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #41a85f;
  border-color: #41a85f;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #41a85f !important;
  border-color: #41a85f !important;
}
.text-primary {
  color: #41a85f !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #41a85f !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #41a85f;
}
.btn-social {
  border-color: #41a85f;
}
.btn-social:hover {
  background: #41a85f;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #41a85f;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #41a85f;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #41a85f;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #41a85f;
}
.lead a,
.lead a:hover {
  color: #41a85f;
}
.lead blockquote {
  border-color: #41a85f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #93d5a6;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #41a85f;
}
#menu-v .hide-buttons .nav-btn {
  display: none !important;
}
#menu-v .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-v .navbar-toggler {
  color: #41a85f;
}
#menu-v .close-icon::before,
#menu-v .close-icon::after {
  background-color: #41a85f;
}
#menu-v .link,
#menu-v .dropdown-item {
  color: #41a85f;
  font-family: 'Oswald', sans-serif;
}
#menu-v .link {
  font-size: 0.75rem;
}
#menu-v .dropdown-item,
#menu-v .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-v .link:hover,
#menu-v .dropdown-item:hover,
#menu-v .link:focus,
#menu-v .dropdown-item:focus {
  color: #41a85f;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-menu {
  background: #e6e6e6;
}
#menu-v .nav-dropdown-sm .link:focus,
#menu-v .nav-dropdown-sm .link:hover,
#menu-v .nav-dropdown-sm .dropdown-item:focus,
#menu-v .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-v .navbar,
#menu-v .nav-dropdown-sm,
#menu-v .nav-dropdown-sm .link[aria-expanded="true"],
#menu-v .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-v .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#menu-v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-v .bg-color.transparent.opened .link:hover,
#menu-v .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-v .link[aria-expanded="true"],
#menu-v .dropdown-item[aria-expanded="true"] {
  color: #41a85f !important;
}
#header1-1 .mbr-section-lead {
  color: #41a85f;
  font-size: 32px;
}
#header1-1 .mbr-section-title {
  color: #41a85f;
  text-align: center;
  font-size: 72px;
}
#header1-1 .mbr-section-lead B {
  color: #41a85f;
}
#msg-box3-6 .mbr-section-title,
#msg-box3-6 p {
  color: #000;
}
#msg-box3-6 .lead {
  font-family: 'Montserrat', sans-serif;
}
#msg-box3-6 .lead DIV {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}
#msg-box3-6 .lead P {
  color: #000000;
}
#features7-2 .card-subtitle {
  color: #bcbcbc;
}
#features7-2 .iconbox {
  background-color: #41a85f;
  border-color: #41a85f;
}
#features7-2 H4 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}
#header3-7 .mbr-section-title,
#header3-7 .mbr-section-subtitle {
  text-align: center;
}
#content2-8 P {
  font-family: 'Ubuntu', sans-serif;
}
#content2-9 B {
  font-family: 'Ubuntu', sans-serif;
}
#content2-9 BLOCKQUOTE {
  font-family: 'Ubuntu', sans-serif;
}
#msg-box8-f .mbr-section-title,
#msg-box8-f p {
  color: #fff;
}
#msg-box8-f .lead {
  color: #000000;
}
#msg-box8-f .mbr-section-title {
  color: #ffffff;
}
#msg-box8-f .lead DIV {
  color: #ffffff;
}
#msg-box8-f .lead P {
  color: #ffffff;
}
#msg-box8-h .mbr-section-title,
#msg-box8-h p {
  color: #fff;
}
#msg-box8-h .lead {
  color: #000000;
}
#msg-box8-h .mbr-section-title {
  font-family: 'Oswald', sans-serif;
  color: #000000;
}
#features7-k .card-subtitle {
  color: #bcbcbc;
}
#features7-k .iconbox {
  background-color: #41a85f;
  border-color: #41a85f;
}
#features7-k P {
  color: #ffffff;
}
#features7-k H4 {
  color: #ffffff;
  font-size: 48px;
}


#menu-n .hide-buttons .nav-btn {
  display: none !important;
}
#menu-n .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-n .navbar-toggler {
  color: #41a85f;
}
#menu-n .close-icon::before,
#menu-n .close-icon::after {
  background-color: #41a85f;
}
#menu-n .link,
#menu-n .dropdown-item {
  color: #41a85f;
  font-family: 'Oswald', sans-serif;
}
#menu-n .link {
  font-size: 0.75rem;
}
#menu-n .dropdown-item,
#menu-n .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-n .link:hover,
#menu-n .dropdown-item:hover,
#menu-n .link:focus,
#menu-n .dropdown-item:focus {
  color: #41a85f;
}
#menu-n .link[aria-expanded="true"],
#menu-n .dropdown-menu {
  background: #e6e6e6;
}
#menu-n .nav-dropdown-sm .link:focus,
#menu-n .nav-dropdown-sm .link:hover,
#menu-n .nav-dropdown-sm .dropdown-item:focus,
#menu-n .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-n .navbar,
#menu-n .nav-dropdown-sm,
#menu-n .nav-dropdown-sm .link[aria-expanded="true"],
#menu-n .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-n .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#menu-n .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-n .bg-color.transparent.opened .link:hover,
#menu-n .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-n .link[aria-expanded="true"],
#menu-n .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
#form1-o .form-control-label {
  color: #232323;
}


#menu-s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-s .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-s .navbar-toggler {
  color: #41a85f;
}
#menu-s .close-icon::before,
#menu-s .close-icon::after {
  background-color: #41a85f;
}
#menu-s .link,
#menu-s .dropdown-item {
  color: #41a85f;
  font-family: 'Oswald', sans-serif;
}
#menu-s .link {
  font-size: 0.75rem;
}
#menu-s .dropdown-item,
#menu-s .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-s .link:hover,
#menu-s .dropdown-item:hover,
#menu-s .link:focus,
#menu-s .dropdown-item:focus {
  color: #41a85f;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-menu {
  background: #e6e6e6;
}
#menu-s .nav-dropdown-sm .link:focus,
#menu-s .nav-dropdown-sm .link:hover,
#menu-s .nav-dropdown-sm .dropdown-item:focus,
#menu-s .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-s .navbar,
#menu-s .nav-dropdown-sm,
#menu-s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-s .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-s .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#menu-s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-s .bg-color.transparent.opened .link:hover,
#menu-s .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-s .link[aria-expanded="true"],
#menu-s .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}


#menu-t .hide-buttons .nav-btn {
  display: none !important;
}
#menu-t .navbar-caption {
  color: #ffffff;
  font-family: 'Oswald', sans-serif;
}
#menu-t .navbar-toggler {
  color: #41a85f;
}
#menu-t .close-icon::before,
#menu-t .close-icon::after {
  background-color: #41a85f;
}
#menu-t .link,
#menu-t .dropdown-item {
  color: #41a85f;
  font-family: 'Oswald', sans-serif;
}
#menu-t .link {
  font-size: 0.75rem;
}
#menu-t .dropdown-item,
#menu-t .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-t .link:hover,
#menu-t .dropdown-item:hover,
#menu-t .link:focus,
#menu-t .dropdown-item:focus {
  color: #41a85f;
}
#menu-t .link[aria-expanded="true"],
#menu-t .dropdown-menu {
  background: #e6e6e6;
}
#menu-t .nav-dropdown-sm .link:focus,
#menu-t .nav-dropdown-sm .link:hover,
#menu-t .nav-dropdown-sm .dropdown-item:focus,
#menu-t .nav-dropdown-sm .dropdown-item:hover {
  background: #f7f7f7!important;
}
#menu-t .navbar,
#menu-t .nav-dropdown-sm,
#menu-t .nav-dropdown-sm .link[aria-expanded="true"],
#menu-t .nav-dropdown-sm .dropdown-menu {
  background: #ffffff;
}
#menu-t .bg-color.transparent .link {
  color: #41a85f;
  transition: none;
}
#menu-t .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-t .bg-color.transparent.opened .link:hover,
#menu-t .bg-color.transparent.opened .link:focus {
  color: #41a85f;
}
#menu-t .link[aria-expanded="true"],
#menu-t .dropdown-item[aria-expanded="true"] {
  color: #41a85f!important;
}
